
body {
    margin: 0;
    background-color: aquamarine;
    min-height: 100vh;
}
header {
    height: 650px;
}

.img {
    display: block;
    margin: 0ppx 0px 10px 0px;
}

.title {
    border-bottom: 2px solid black;
    text-align: center;
}
.container {
    width: 600px;
    margin: 0 auto;
}
main {
    text-align: center;
    padding-top: 150px;
}
span.title{
    color: blue;
    font-family: emoji;
    font-size: 30px;
}
.text-center {
    text-align: center;
}
li {
    list-style: none;
}
ul {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span.menu {
    font-size: 30px;
}